<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>






 <body class="devise">
    <%= render 'layouts/messages' %>
<!-- Form area -->
<div class="admin-form">
  <div class="container-fluid">

    <%= yield %>

  </div> 
</div>
  
    






</html>
